<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header>
        <h1>Owen Beattie</h1>
        <nav>
            <ul>
                <li><a href="#about-me">About Me</a></li>
                <li><a href="#resume">Resume</a></li>
                <li><a href="#cover-letter">Cover Letter</a></li>
                <li><a href="#career-goal">My Philosophy</a></li>
                <li><a href="#academic-credentials">Academic Credentials</a></li>
                <li><a href="#academic-work">Academic Work</a></li>
                <li><a href="#capstone-project">Capstone Project</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="about-me">
            <h2>About Me</h2>
            <p>Hello! My name is Owen Beattie, and I am a software developer studying at George Brown College.
                I've grown up surrounded by computers all my life, and have always been interested in how they work.
                I love Math and Science, and while I lack many the usual artistic talent that it takes to write or draw, I've always been relatively creative.
                In coding, I have found a way to mix these two passions, which was not easy since the logic of math and creativity of art seem to be at odds with each other.
                I love being able to see a problem and find unique ways to solve it, which will often differ greatly from the approach of my peers!
                That's another reason I love programming, the collaboration that it requires.
                Not many people would be able to solve complex problems on their own, and coming together as a group really inspires me to learn more every day!
                I love programming, and I'm exicted to share where this journey takes me.</p>
        </section>
        <section id="resume">
            <h2>Resume</h2>
            <p>Here is my most recently updated resume completed around the end of my final semester!</p>
            <a href="/Owen_Beattie_Resume_2024_-_OPG.pdf" download="Owen_Beattie_Resume_2024">Download Resume</a>
        </section>
        <section id="cover-letter">
            <h2>Cover Letter</h2>
            <p>Here is a recently developed cover letter for applying the the Summer Employment Opportunities Committee ran by the Government of Ontario.</p>
            <a href="/Ontario_Gvmnt._Cover_Letter.pdf" download="Owen_Beattie_Cover_Letter_2024">Download Cover Letter</a>
        </section>
        <section id="career-goal">
            <h2>My Philosophy</h2>
            <p>"However difficult life may seem, there is always something you can do and succeed at." - Stephen Hawking. 
                This quote has always resonated with me, and I've always tried to live by it.
                It has not always been very easy to be motivated in day to day life.
                I'm very critical of myself, so I always feel like I could be doing more, or doing better.
                This quote reminds me to keep trying, and that with hard work I'll be able to succeed.
            </p>
        </section>
        <section id="academic-credentials">
            <h2>Academic Credentials</h2>
            <ul>
                <li>2016-2020 Honour Roll throughout my high school career (80%+ average grade)</li>
                <li>2021-2022 Dean's List a George Brown College (3.7+ GPA)</li>
                <li>2024 Second place in a Design Jam Content led by George Brown College and Ontario Power Generation</li>
                <li>2022/2023 Top 18.5% of worldwide participants in the IEEExtreme Competition</li>
            </ul>
        </section>
        <section id="academic-work">
            <h2>Academic Work Experience</h2>
            <p>Working with Neural networks to display certain images as a certain type of clothing. Here, my code decides this image is a dress</p>
            <img src="/Work3.png">
            <p>Here is our current working version of our Capstone project</p>
            <img src="/mygame1.png">
            <p>And here is the profile page relating to our Capstone Project</p>
        </section>
        <section id="capstone-project">
            <h2>Capstone Project</h2>
            <ul>
                <p>Here are multiple of the requirements needed for our capstone project</p>
                <a href="/Capstone Requirements.pdf" download="capstone requirements">Download Capstone Requirements</a>
                <a href="/Capstone tech Requirements.pdf" download="capstone tech requirements">Download Capstone Tech Requirements</a>
                <p>This was some original work for our capstone Wireframe Documents</p>
                <img src="/capstoneWireframe.png">
            </ul>
        </section>
    </main>
    <footer>
        <p>Copyright &copy; 2024 by Owen Beattie. All rights reserved.</p>
    </footer>
</body>
</html>
